:root {
    --background-color: #2d2850;
    --header-color: #413a73;
    --background-color-hover: #50478c;
    --grey: #a0a0a0;
    --line: #524d58;
    --blur-white: #dadada;
    --premium: #fab818;
    --premium-light: #ffc94d;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --popup-width: 22.5rem;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}


a {
    text-decoration: none;
    color: #000;
}

a:active {
    color: #000;
}

ul li {
    list-style-type: none;
}

@media (min-width: 35.5em) {
    .main-nav {
        --container-padding: 2.5rem
    }
}

@media (min-width: 64em) {
    .main-nav {
        --container-padding: 4rem
    }
}

@media (min-width: 107.5em) {
    .main-nav {
        --container-padding: 5rem
    }
}


.text--gq6o- {
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    font-weight: 500;
    line-height: var(--line-height);
}

.text--is-semibold--AHOYN {
    font-weight: 600
}

.text--is-heavy--2YygX {
    font-weight: 900
}

.text--is-xl---ywR- {
    --line-height: 1.5rem;
    font-size: 1rem
}

.text--is-xl---ywR-.text--is-fixed-size--5i4oU {
    --line-height: 1.625rem;
    font-size: 1.125rem
}

.text--is-l--iccTo {
    --line-height: 1.125rem;
    font-size: .875rem
}

.text--is-l--iccTo.text--is-fixed-size--5i4oU {
    --line-height: 1.5rem;
    font-size: 1rem
}

.text--is-m--pqiL- {
    --line-height: 1.125rem;
    font-size: .875rem;
}

.text--is-s--JP2oa {
    --line-height: 1rem;
    font-size: .75rem;
    font-weight: 600
}

.text--is-s--JP2oa.text--is-heavy--2YygX {
    font-weight: 900
}

.text--is-xs--5PTBo {
    --line-height: 0.875rem;
    font-size: .625rem;
    font-weight: 600
}

.text--is-xs--5PTBo.text--is-heavy--2YygX {
    font-weight: 900
}

@media (min-width: 35.5em) {
    .text--is-xl---ywR- {
        --line-height: 1.625rem;
        font-size: 1.125rem
    }

    .text--is-l--iccTo {
        --line-height: 1.5rem;
        font-size: 1rem
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.right50 {
    right: 50px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}