body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
table{
    width: 45%;
}
table tr {
    padding: 0;
    display: flex;
}

table tr td {
    width: 50%;
    padding: 0;
    display: block;
}

table td {
    cursor: pointer;
}

tr td {
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

tr:nth-child(1) td {
    border-top: 1px solid red;
}

td:nth-child(1) {
    border-left: 1px solid red;
}

.x {
    display: none;
}

.x:focus {
    opacity: 1;
}

.o {
display: ;}

.o:active {
    display: none;
}