
/* ==============================
=================================
      01 GNERAL STYLE 
      02 Style Header 
      03 reponsitive 
      04 Style section
      05 Style aside 
      06 Style section
=================================
===============================*/


/* reser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* config color */
:root {
    --color-green: #119C7C;
    --color-cyan: #33ACE2;
    --color-red: #ED3237;
    --color-yellow: #FBBB25;
    --color-black: #000000;
    --color-while: #ffffff;
}

html{
    scroll-behavior: smooth;

}



/* *********** 01 GNERAL STYLE *********** */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a {
    color: var(--color-black);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover {
    color: var(--color-red);
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    max-width: 100%;
}
ul li{
    list-style: none;
}
/* *********** 01 GNERAL STYLE *********** */




/* *********** 02 Style Header *********** */
.header-bottom{
    background: var(--color-cyan);
}

.first-line{
    font-size: 60%;
    font-weight: 600;
}

h1{
    font-size: 35px;
    font-weight: 700;
    font-family: 'roboto';
}

.heading a::first-line{
    font-size: 70%;
    font-weight: 500;
}


.heading a{
    color: var(--color-red);
    text-transform: uppercase;
}

.header .logo {
    width: 50px;
}

/* Style nav */
.navbar-nav li a {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--color-while);
}

.navbar-nav li a:hover {
    color: var(--color-red);
    text-decoration: none;
    border-bottom: 1px solid var(--color-red);
}

.navbar-nav li .active {
    color: var(--color-red);
}

.navbar-nav li .active:hover {
    border: 0;
}

/* *********** 02 Style Header *********** */





/* *********** 03 reponsitive *********** */
/* desktop */
@media screen and (min-width: 768px) {
    /* hidden-logo */
    .moblie-wrapper{
        display: none;
    }

}

/* mobile */
@media screen and (max-width: 768px){
    .header-top{
        display: none;
    }
}

@media screen and (max-width: 550px){
    .h1-content{
        font-size: 18px;
    }
}
/* *********** 03 reponsitive *********** */





/* *********** 04 Style section *********** */
.heading-s2, .heading-s3 {
    border-top: 16px solid var(--color-green);
}       
.heading-s2 a, .heading-s3 a{
    color: var(--color-cyan);
} 

.heading-s2 a:hover, .heading-s3 a:hover{
    color: var(--color-red);
}    


/* style like icon */
.like i:hover {
    transition: all 0.3s ease-in-out;
}

.like i:hover {
    color: var(--color-red);
    cursor: pointer;
}

.like i:active {
    color: var(--color-red);
}

/* style read more */
.read-more {
    color: var(--color-cyan);
}

/* style load more */
.load-more a {
    background: var(--color-cyan);
    padding: 10px 25px;
    border: var(--color-black) solid 1px;
    border-radius: 25px;
    color: var(--color-black);
}

.load-more a:hover {
    background: var(--color-green);
}

/* Style zoom image */
.item-img a, .introduce-img{
    overflow: hidden;
}

.item-img a img, .introduce-img img{
    transition: all .4s ;
}

.item-img a img:hover, .introduce-img img:hover{
    transform: scale(1.3);
}
/* *********** 04 Style section *********** */





/* *********** 05 Style aside *********** */
#btn-back-to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
  }

/* *********** 05 Style section *********** */





/* *********** 06 Style section *********** */
.footer {
    background: var(--color-cyan);
}
/* *********** 06 Style section *********** */
